@model IEnumerable<SarahsArtworksBlog.Models.ArtworkPost>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <img id="srpntng" src="~/Content/Images/srnsr14.jpg" />
    <h1 class="AtwksBlg-H1">Artworks Blog</h1>
    <p class="h1-intro">Welcome to my artworks blog!<br />  Here all of work<br /> (as well as in-progress)<br /> can be viewed, and commented<br /> on.  I also encourage feedback<br /> as it helps me to understand<br /> everything in a new way that<br /> will also help me to improve<br /> the quality of my art. </p>

</div>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.image)*@
            <img src="@item.image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtworkPostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtworkPostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtworkPostID })
        </td>
    </tr>
}

</table>
